@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 20rem;
}

:root {
  --primary-grey: '#343540',
  --primary-grey-28: '#40414F',
  --primary-grey-71: '#ACACBE',
  --secondary-white: '#FFFFFF',
  --secondary-white-97: '#F6F6F6',
  --accent-color-71: '#696FFF',
  --accent-color-77: '#8A8EFF',
  --danger-color: '#FF4343',
}

body {
  min-height: 100vh;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 500;
}

.viewHeight {
  min-height: 100vh;  
  max-height: -webkit-fill-available;
  overflow-x: hidden;
}

.SVGB2W {
  @apply bg-secondary-white dark:bg-primary-grey;
}

.SVGW2B {
  @apply bg-primary-grey dark:bg-secondary-white;
}

.activeLink {
  position: relative;
  font-weight: 600;
}

.activeLink::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  height: 1px;
  margin-top: 3px;

  @apply bg-accent-color-77 dark:bg-accent-color-71
}

.linksm {
  position: relative;
  left: 2rem;
}

.linksm::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: -3rem;
  width: 3rem;
  transform: translateY(-50%);
  height: 1px;
  margin-top: 3px;

  @apply bg-secondary-white-97 dark:bg-primary-grey
}

.activeLinksm {
  @apply font-semibold dark:bg-primary-grey
}

.elleipsAfterTherdLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.load{
    display: flex;
    justify-content: center;
}

.load div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @apply bg-primary-grey
}

.load div:nth-child(2){
    animation-delay: 0.3s;
}

.load div:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes up-and-down {
  
    to{
        opacity: 0.2;
        transform: translateY(-20px);
        
    }
}

.linkHover {
  position: relative;
  border-bottom: 1px solid #FF69B4;
  padding: 0px 2px 2px 2px;
}

.linkHover::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #FF69B4;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.linkHover:hover::before {
  width: 100%;
}

/* inputs */

.primary_label_form {
  @apply w-full font-semibold text-base text-secondary-white dark:text-primary-grey relative ;
}

.primary_label_form span {
 @apply relative top-[38px] left-4 transition-all duration-300 pointer-events-none 
}

.primary_label_form .wide_span {
 @apply relative top-[2.5px] left-1 transition-all duration-300 pointer-events-none w-full pr-8 ;
}

.primary_label_form:has(input:focus) span, .primary_label_form:has(input:valid) span {
  top: -3px;
  left: 0;
  @apply text-accent-color-71 pr-0;
}

.search_input {
  @apply dark:bg-secondary-white bg-primary-grey-28 transition-all rounded-md overflow-hidden w-full p-3 border-secondary-black border-[1px] ;
}

.search_input:focus {
  outline: 1px solid var(--accent-color-71);
}