@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 20rem;
}

:root {
  --primary-grey: '#343540',
  --primary-grey-28: '#40414F',
  --primary-grey-71: '#ACACBE',
  --secondary-white: '#FFFFFF',
  --secondary-white-97: '#F6F6F6',
  --Accent-color-71: '#FF69B4',
  --secondary-white-77: '#FF8AC5',
  --danger-color: '#FF4343',
}

body {
  min-height: 100vh;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 500;
}

.viewHeight {
  min-height: 100vh;  
  max-height: -webkit-fill-available;
  overflow-x: hidden;
}

.SVGB2W {
  @apply dark:bg-primary-grey;
}

.SVGW2B {
  @apply dark:bg-secondary-white;
}

.activeLink {
  position: relative;
  font-weight: 600;
}

.activeLink::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  height: 1px;
  margin-top: 3px;

  @apply bg-accent-color-77 dark:bg-accent-color-71
}

.linksm {
  position: relative;
  left: 2rem;
}

.linksm::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: -3rem;
  width: 3rem;
  transform: translateY(-50%);
  height: 1px;
  margin-top: 3px;

  @apply bg-secondary-white-97 dark:bg-primary-grey
}

.activeLinksm {
  @apply font-semibold dark:bg-primary-grey
}